<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QC Assessment Test Suite">
  <test thread-count="5" name="QC Assessment Test Cases">
    <classes>
      <class name="testcase.TestingFramework"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
